* {box-sizing: border-box;}

html {
  scroll-behavior: smooth;
}

img {
  width:100%;
}

body {
  margin:0;
  background-color:antiquewhite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.number {
  position:absolute;
  font-size: 60px;
  font-weight:bold;
}
.minute {
  position:absolute;
  top:48%;
  left:48%;
  height:50%;
  animation-name: rotate;
  animation-duration: 6s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  transform-origin:top;
}
.hour {
  position:absolute;
  top:48%;
  left:48%;
  width:50%;
  animation-name: rotate;
  animation-duration: 72s;
  animation-timing-function:linear;
  animation-iteration-count: infinite;
  transform-origin:left;
}
@keyframes rotate {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

.minute img {
  width:20px;
  height:80%;
}

.hour img {
  width:60%;
  height:20px;
}

main {
  position:relative;
  width:50%;
  /* this makes the contents hve an 80px margin on top and bottom, and an auto margin on left and right which centers the content. */
  margin: 20px auto;
  margin-bottom:-5px;

}
.clock {
  width:100%;
}


.one {
  top: 12%;
  right:24%;
}
.two {
  top: 27%;
  right:10%;
}
.three {
  top:45%;
  right: 4%;
}
.four {
  bottom: 27%;
  right: 10%;
}
.five {
  bottom: 12%;
  right:25%;
}
.six {
  bottom: 4%;
  left:47%;
}
.seven {
  bottom: 12%;
  left:25%;
}
.eight {
  bottom: 27%;
  left: 10%;
}
.nine {
  top:45%;
  left: 4%;
}
.ten {
  top: 27%;
  left:10%;
}
.eleven {
  top: 12%;
  left:25%;
}
.twelve {
  top: 4%;
  left:47%;
}
