* {box-sizing: border-box;}

img {
  width:100%;
}

body {
  margin:0;
  background-color:antiquewhite;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.number {
  font-size: 60px;
  font-weight:bold;
  position: absolute;
}

main {
  position:relative;
  width:50%;
  /* this makes the contents hve an 80px margin on top and bottom, and an auto margin on left and right which centers the content. */
  margin: 20px auto;

}
.clock {
  width:100%;
}
.hour {
  position: absolute;
  top:48%;
  left:48%;
}
.minute { 
  position: absolute;
  top:48%;
  left:48%;
}

.minute img {
  width:20px;
  height:300px;
}
.hour img {
  width:200px;
  height:20px;
}
.one {
  top: 4%;
  right: 30%;
}
.two {}
.three {
  top: 28%;
  right: 7%;
}
.four {}
.five {}
.six {}
.seven {}
.eight {}
.nine {}
.ten {}
.eleven {}
.twelve {}
